* {
  font-family: "Playwrite GB S";
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
}

.top-page {
  padding-top: 10px;
  box-shadow: 2px 8px 8px #888888;
}

h2 {
  padding: 0;
  margin: 0;
  /* color: white; */
}

.book-btn {
  margin: 20px;
  background-color: #1f2937;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  padding: 10px;
}

.cards {
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dialog {
  border: 1px solid black;
  border-radius: 10px;
}

label + input {
  margin-left: 10px;
}

input[type="radio"] {
  margin-bottom: 20px;
}

.dial-btn {
  padding: 8px;
  background-color: white;
  border: 1px solid #9ca3af;
  border-radius: 10px;
}

.read-div {
  margin: 8px;
  display: flex;
  justify-content: center;
}

#b-000, #b-001 {
  appearance: none;
  border: none;
  border-radius: 100px;
  background-color: white;
  padding: 2px;
  margin: 0;
  padding: 0;
}

#b-000 {
  padding-right: 8px;
}

.toggle-div {
  position: relative;
  border: 1.5px solid black;
  margin-left: 10px;
  width: 55px;
  height: 28px;
  border-radius: 50px;
}

.toggle-div::before {
  content: "🔘";
  font-size: 32px;
  top: -15px;
  left: -2px;
  position: absolute;
  visibility: visible;
  }
  
.toggle-div::after {
  content: "🔘";
  /* 🟡 */
  font-size: 32px;
  top: -15px;
  right: -2px;
  position: absolute;
  visibility: hidden;
}

.toggle-div.active-button::before {
  visibility: hidden;
}

.toggle-div.active-button::after {
  visibility: visible;
}

h4 {
  display: inline-block;
  font-size: 22px;
}

h4, h5, h6 {
  padding: 7px;
  margin: 0px;
}

.card {
  position: relative;
  background-color: #f9fafb;
  border-left: 20px solid red;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px 20px 20px 0;
  margin: 10px;
  /* h-offset v-offset blur spread */
  box-shadow: 2px 8px 20px;
  flex: 0 0 calc(16.66% - 20px);
  box-sizing: border-box;
}

form, form > div {
  padding: 8px;
}

.delete-button {
  position: absolute;
  top: 0;
  right: 0;
  appearance: none;
  border: none;
  border-radius: 10px;
  background-color:#f9fafb;
}

.delete-button:active, .book-btn:active, .dial-btn:active {
  opacity: 0.5;
}